* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.main img {
  position: fixed;
  z-index: -1;
  background-size: cover;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  color: #f7f7f7;
  align-items: center;
  gap: 3rem;
}

.div-one,
.div-two,
.div-three {
  border: 3px solid white;
  padding: 6rem 9rem;
  font-size: 7rem;
  font-weight: 800;
  /*
    animation: slide-down 3s ease forwards;
              margin-top: -130vh;
          }

       @keyframes slide-down{
          0%{
              margin-top: -130vh;

          }
          100%{
              margin-top: 0;

          } */
}

.div-one {
  background-color: rgba(1, 1, 1, 0.4);
  animation: slide-down 3s ease 1s forwards;
  margin-top: -130vh;
}
@keyframes slide-down {
  0% {
    margin-top: -130vh;
  }
  100% {
    margin-top: 0;
  }
}

.div-two {
  background-color: rgba(144, 11, 3, 0.4);
  animation: slide-down 3s ease 3s forwards;
  margin-top: -130vh;
}
@keyframes slide-down {
  0% {
    margin-top: -130vh;
  }
  100% {
    margin-top: 0;
  }
}

.div-three {
  background-color: rgba(210, 134, 31, 0.4);
  animation: slide-down 3s ease 5s forwards;
  margin-top: -130vh;
}
@keyframes slide-down {
  0% {
    margin-top: -130vh;
  }
  100% {
    margin-top: 0;
  }
}

@media all and (max-width: 1250px) {
  html {
    font-size: 75%;
  }
}
@media all and (max-width: 950px) {
  html {
    font-size: 55%;
  }
}
@media all and (max-width: 700px) {
  html {
    font-size: 45%;
  }
}
@media all and (max-width: 550px) {
  html {
    font-size: 35%;
  }
}